@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

nav {
    /* background-color: #0779E4; */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    position: fixed;
    right: 0;
    left: 0;
}

.nav-items {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero {
    background-image: url(../images/asset\ 0.jpeg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    width: 80%;
    margin: auto;
}

.bio {
    width: 60%;
}


.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}

.hi-there {
    color: #0779E4;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    position: relative;
    z-index: 0;
    display: inline-block;
    font-family: "Roboto", Arial, sans-serif;
    background-color: #FFFFFF;
    padding: 4px 9px;
    border-radius: 4px;
    margin: 0px 0px 5px;
    font-weight: 700;
}
